#ignore everything
*


#..except these!
!.gitignore
!.instance.cfg
!mmc-pack.json
!.minecraft/defaultconfigs/*
!.minecraft/mods/*
!.minecraft/kubejs/*
!.minecraft/patchouli_books/*
!.minecraft/resourcepacks/*
!.minecraft/shaderpacks/*





# okay, now ignore these things.
.minecraft/config/*.properties
.minecraft/config/everycomp-wood_types.json

*.properties
.minecraft/config/sound_physics_remastered/occlusion.properties
*.properties
.minecraft/config/sound_physics_remastered/soundphysics.properties
.minecraft/config/iris.properties
.minecraft/config/indium-renderer.properties
.minecraft/config/fastload.properties
.minecraft/config/fabric/indigo-renderer.properties
