#ignore everything
*


#..except these!
!.gitignore
!.instance.cfg
!mmc-pack.json
!.minecraft/config/*
!.minecraft/defaultconfigs/*
!.minecraft/mods/*
!.minecraft/kubejs/*
!.minecraft/patchouli_books/*
!.minecraft/resourcepacks/*
!.minecraft/shaderpacks/*





# okay, now ignore these things.
.minecraft/config/*.properties
.minecraft/config/everycomp-wood_types.json

