#ignore everything
*
.minecraft/config/*.properties
.minecraft/config/everycomp-wood_types.json

#..except these!
!.gitignore
!.instance.cfg
!mmc-pack.json
!.minecraft/config/*
!.minecraft/defaultconfigs/*
!.minecraft/mods/*
!.minecraft/kubejs/*
!.minecraft/patchouli_books/*
!.minecraft/resourcepacks/*
!.minecraft/shaderpacks/*


